// Denna kommentaren kommer inte att kompileras
/* Denna kommentaren komemr att kompileras */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// PROBLEM 1
// $primary-color: rgb(73, 207, 158);
$primary-color: deeppink;
$secondary-color: gray;
$alert-color: red;
$success-color: lime;
$info-color: blue;

// PADDINGS AND MARGINGS
$base-padding: 2rem;
$base-margin: 1rem;
$base-border-radius: .5rem;

$base-font-size: 1rem;

h1 {
  color: $primary-color;
  font-size: calc($base-font-size * 3);
}

h2 {
  color: $primary-color;
  font-size: calc($base-font-size * 2.5);
}

h3 {
  color: $primary-color;
  font-size: calc($base-font-size * 2);
}

.box {
  background-color: $primary-color;

  width: 380px;
  height: 540px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem;
}

// button {
//   background-color: $primary-color;

//   margin-top: 2rem;
//   padding: 1rem 2rem;
//   border: 2px solid white;
// }


// PROBLEM 2

header { // <header>
  background-color: $primary-color;
  margin-bottom: 2rem;

  nav { // <nav>
    
    ul { // <ul>
      list-style: none;
      display: flex;

      li { // <li>
        padding: 1rem 2rem;

        &:hover {
          background-color: beige;
        }
      } // </li>
    } // </ul>
  } // </nav>
} // </header>

.button {
  background-color: $secondary-color;
  color: black;
  padding: 1rem 2rem;
  margin-top: 2rem;
  text-decoration: none;
  border-radius: 0.5rem;
  display: inline-block;

  &.primary {
    background-color: $primary-color;
    color: white;
  }

  &.alert {
    background-color: $alert-color;
    color: white;
  }

  &.success {
    background-color: $success-color;
    color: white;
  }

  &.info {
    background-color: $info-color;
    color: white;
  }
}

@mixin kaksmet($bg-color, $text-color, $border-radius) {
  //Grund recept
  padding: calc($base-padding / 2) $base-padding;
  font-size: 1.25rem;

  // Justera utifrån vilken muffins vi vill göra
  background-color: $bg-color;
  color: $text-color;
  border-radius: $border-radius;
}

.blueberry {
  @include kaksmet(#f4eba1, #1e1e74, calc($base-border-radius * 2))
}

.chocolate {
  @include kaksmet(#362828, #8b6e63, calc($base-border-radius / 2))
}

.vanilla {
  @include kaksmet(rgb(244, 235, 161), rgb(184, 53, 53), $base-border-radius)
}

.hallon {
  @include kaksmet(yellow, deeppink, 5rem);
  border: 6px solid deeppink;
  text-transform: uppercase;
  font-weight: bold;
}